@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@code{
    private void NavigateTo(string route)
    {
        if (!string.IsNullOrEmpty(route))
        {
            NavigationManager.NavigateTo(route);
        }
    }
}

<MudThemeProvider IsDarkMode="true"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    
    <footer class="nav-bar">
        <div class="col">
            <MudButton OnClick="@(() => NavigateTo("/"))" StartIcon="@Icons.Material.Filled.Home" Style="width: -webkit-fill-available; height: -webkit-fill-available;">
                <span class="nav-text">Home</span>
            </MudButton>
        </div>
        <div class="col">
            <MudButton OnClick="@(() => NavigateTo(""))" StartIcon="@Icons.Material.Filled.Search" Style="width: -webkit-fill-available; height: -webkit-fill-available;">
                <span class="nav-text">Search</span>
            </MudButton>
        </div>
        <div class="col">
            <MudButton OnClick="@(() => NavigateTo(""))" StartIcon="@Icons.Material.Filled.Notifications" Style="width: -webkit-fill-available; height: -webkit-fill-available;">
                <span class="nav-text">Notifications</span>
            </MudButton>
        </div>
        <div class="col">
            <MudButton OnClick="@(() => NavigateTo("/Login"))" StartIcon="@Icons.Material.Filled.AccountCircle" Style="width: -webkit-fill-available; height: -webkit-fill-available;">
                <span class="nav-text">Profile</span>
            </MudButton>
        </div>
       
    </footer>
</div>
