@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@code{
    private void NavigateTo(string route)
    {
        if (!string.IsNullOrEmpty(route))
        {
            NavigationManager.NavigateTo(route);
        }
    }
}

<MudThemeProvider IsDarkMode="true"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    
    <footer class="nav-bar">
        <MudButton OnClick="@(() => NavigateTo("/"))" StartIcon="@Icons.Material.Filled.Home">
            <span class="nav-text">Home</span>
        </MudButton>
        <MudButton OnClick="@(() => NavigateTo(""))" StartIcon="@Icons.Material.Filled.Search">
            <span class="nav-text">Search</span>
        </MudButton>
        <MudButton OnClick="@(() => NavigateTo(""))" StartIcon="@Icons.Material.Filled.Notifications">
            <span class="nav-text">Notifications</span>
        </MudButton>
        <MudButton OnClick="@(() => NavigateTo("/Login"))" StartIcon="@Icons.Material.Filled.AccountCircle">
            <span class="nav-text">Profile</span>
        </MudButton>
    </footer>
</div>
