@namespace SetupComponents

@code {
    [Parameter] public EventCallback OnStepCompleted { get; set; }
    [Parameter] public EventCallback OnStepGoBack { get; set; }

    private async Task CompleteStep()
    {
        await OnStepCompleted.InvokeAsync(null);
    }

    private async Task CancelStep()
    {
        await OnStepGoBack.InvokeAsync(null);
    }
}

<MudTimeline TimelineOrientation="TimelineOrientation.Horizontal" TimelinePosition="TimelinePosition.Top">
    <MudTimelineItem>
        <ItemContent>
            <MudText Align="Align.Center">About You</MudText>
        </ItemContent>
    </MudTimelineItem>
    <MudTimelineItem Color="Color.Info" Size="Size.Large">
        <ItemContent>
            <MudText Align="Align.Center">Workout Info</MudText>
        </ItemContent>
    </MudTimelineItem>
    <MudTimelineItem>
        <ItemContent>
            <MudText Align="Align.Center">Finalise Plan</MudText>
        </ItemContent>
    </MudTimelineItem>
</MudTimeline>


<MudDivider Class="mt-4" />

<div id="workoutInfo">
    <MudPaper Class="mt-4 p-4" Elevation="5">
        <MudForm>
            <MudText Typo="Typo.h6">Gender: </MudText>
            <div class="d-flex">
                <MudRadioGroup T="string" Required="true" RequiredError="Gender is required!">
                    <MudRadio Option="@("M")">Male</MudRadio>
                    <MudRadio Option="@("F")">Female</MudRadio>
                    <MudRadio Option="@("O")">Other</MudRadio>
                </MudRadioGroup>
            </div>

            <MudText Typo="Typo.h6">Weight: </MudText>
            <MudTextField T="string" HelperText="Weight" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentText="Kg" />

            <MudText Typo="Typo.h6">Height: </MudText>
            <MudTextField T="string" HelperText="Height" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentText="Cm" />

            <MudText Typo="Typo.h6">Workout Type: </MudText>
            <div class="d-flex">
                <MudRadioGroup T="string" Required="true" RequiredError="Workout type is required!">
                    <MudRadio Option="@("Strength")">Strength</MudRadio>
                    <MudRadio Option="@("Weight")">Lose Weight</MudRadio>
                    <MudRadio Option="@("Cardio")">Cardio</MudRadio>
                    <MudRadio Option="@("Powerlifting")">Powerlifting</MudRadio>
                    <MudRadio Option="@("Yoga")">Stretching/Yoga</MudRadio>
                </MudRadioGroup>
            </div>

            <div class="row">
                <div class="col">
                    <MudButton Variant="Variant.Outlined" Color="Color.Warning" FullWidth="true">Back</MudButton>
                </div>
                <div class="col">
                    <MudButton OnClick="() => CompleteStep()" Variant="Variant.Outlined" Color="Color.Primary" FullWidth="true">Next Step</MudButton>
                </div>
            </div>
        </MudForm>
    </MudPaper>
</div>